@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,600&display=swap');
#nombre{
    font-family: 'Kanit', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}


.contenedor {
    background: #f6f6f6;
    width: 100vw;
    height: 91vh;
    display: grid;
    justify-content: center;
    align-items: center;
   
    
  }
  .navbar-brand{
    color: white;
    font-size: 15px;
    font-family: 'Kanit', sans-serif;

}

#logout{
    text-decoration: none;
    font-size: 15px;
    color: #0197c4;
    font-family: 'Kanit', sans-serif;
}