@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,600&display=swap');
#nombre{
    font-family: 'Kanit', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}
.navbar {
  background-color: #0197c4 !important;
}

#preview {
  display: none;
  width: 80vw;
  height: 30vh;
  
}
.contenedor {
  background: #0197c4;
  background: -webkit-linear-gradient(bottom, #0197c4, #010101);
  background: -moz-linear-gradient(bottom, #0197c4, #010101);
  background: linear-gradient(to top, #0197c4, #010101);
  width: 100vw;
  height: 91vh;
  display: grid;
  justify-content: center;
  align-items: center;
 
  
}
#scanButton2 {
  display: none;
  width: 150px;


}
#scanButton{
    
    width: 150px;
  
}
#img{
  margin-top: 90px;
  background-color: white;
  width: 15rem;
  height: 15rem;
  z-index: 1;
  border-radius: 10px;
}

/* *{
  border: solid red 1px;
} */
.botones{

  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}


.scanButton {
  height: 50px;
  margin: 5px;
  width: 120px;
  background: #333;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Consolas, Courier New, monospace;
  border: solid #404C5D 1px;
  font-size: 16px;
  color: rgb(161, 161, 161);
  -webkit-transition: 500ms;
  transition: 500ms;
  border-radius: 5px;
  background: linear-gradient(145deg, #2e2d2d, #212121);
  -webkit-box-shadow: -1px -5px 15px #41465B, 
               5px  5px 15px #41465B, 
    inset      5px  5px 10px #212121, 
    inset     -5px -5px 10px #212121;
  box-shadow: -1px -5px 15px #41465B, 
               5px  5px 15px #41465B, 
    inset      5px  5px 10px #212121, 
    inset     -5px -5px 10px #212121;
}

.scanButton:hover {
  -webkit-box-shadow: 1px 1px 13px #20232e,
                    -1px -1px 13px #545b78;
  box-shadow: 1px 1px 13px #20232e,
             -1px -1px 13px #545b78;
  color: #d6d6d6;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.scanButton:active {
  -webkit-box-shadow: 1px 1px 13px #20232e,
                     -1px -1px 33px #545b78;
  box-shadow: 1px 1px 13px #20232e,
             -1px -1px 33px #545b78;
  color: #d6d6d6;
  -webkit-transition: 100ms;
  transition: 100ms;
}
.linea{

  position: absolute;
  top: 320px;
  background-color: rgb(0, 0, 0);
  left: 12px;
  width: 90vw;
  height: 10px;
  z-index: 1;
  animation-name: sube-baja;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes sube-baja {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(0);
  }
}